.BlogPost > div:nth-child(4){
  width:75vw;
  margin: auto;
}
.BlogPost h1,.BlogPost > p:nth-child(3){
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  width:75vw;
  margin: auto;
}

.BlogPost h1{
    margin-top: 10vh;
}
.BlogPost > p:nth-child(3){
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.app-wrapper{
  margin-top: 0;
}
