//DWALTER CIRCLE
#header{
  position: fixed;
  z-index: 9999999999;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  mix-blend-mode: exclusion;
  top:0;
  padding: 2vh;
}

#header div:nth-child(1){
  height: 100px;
  width: 100px;
  z-index: 999999999;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: 8s infinite rotate-text linear;
  transform-origin: left;
  margin-left: 100px;
  margin-top: 10px;
}
@for $i from 3 through 9 {
  #header div:nth-child(1) .char#{$i} {
    font: 26px MonoSpace;
    height: 55px;
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
    z-index: 999999999;
    color: white;
  }
}
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@for $i from 3 through 9 {
  .char#{$i} {
    @include transform(rotate($i * 51 + deg));
  }
}
@keyframes rotate-text {
  100%{
    transform: rotate(360deg);
  }
}
#header div:nth-child(2){
  display: flex;
}
#header div:nth-child(2)>p{
  transform: rotate(90deg);
  margin-right: 50px;
  color: white;
  height: 50px;
  width: 50px;
  background-color: black;
  display:flex;
  text-align: center;
  align-items: center;
  background-clip: text;
  justify-content: center;
  z-index: 99999999999999;
}
