#header {
  position: fixed;
  z-index: 9999999999;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  width: 100vw;
  mix-blend-mode: exclusion;
  top:0;
  a{
    color: transparent;
  }
  a.link-desktop{
    height: 100px;
    width: 100px;
    z-index: 999999999;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: 8s infinite rotate-text linear;
    transform-origin: left;
    margin-left: 100px;
    margin-top: 10px;
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
  a.burger-menu{
  display:flex;
    p{
    transform: rotate(90deg);
    margin-right: 5px;
    color: white;
    height: 50px;
    width: 50px;
    background-color: black;
    display:flex;
    text-align: center;
    align-items: center;
    background-clip: text;
    justify-content: center;
    z-index: 99999999999999;
      @media screen and (max-width:950px) {
        marging-right: 5px;
      }
    }
  }
  a.link-smartphone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    @media screen and (min-width:950px) {
      display:none;
    }
  }
}


@for $i from 3 through 9 {
  #header a:nth-child(1) .char#{$i} {
    font: 26px MonoSpace;
    height: 55px;
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
    z-index: 999999999;
    color: white;
  }
}
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@for $i from 3 through 9 {
  .char#{$i} {
    @include transform(rotate($i * 51 + deg));
  }
}
@keyframes rotate-text {
  100%{
    transform: rotate(360deg);
  }
}