//GLOBAL
html,body,span,a,div,section{
  scroll-behavior: smooth;
  color: white;
}
//AUTRES PAGES
#Splash-Menu ul {
  font-family: gotham;
  color: white;
  width: 75vw;
  margin:auto;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
 height: 100vh;
}
#Splash-Menu ul li a {
  font-family: gotham;
  color: white;
  text-transform: uppercase;
  font-size: 10vh;
}
#c {
  width: 75vw;
  margin: auto;
}
//ACCEUIL
#Acceuil {
    background-color:black;
    margin: 0;
    z-index: 1;
    margin: auto;
    padding: 15vw;
    padding-top: 0vw;
}
body{
  background-color: black;
  color: white;
}
//ACCEUIL HOMEPAGE
#contenue>section:before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('https://portfoliov1.donaelwalter.com/medias/img/fond-acceuil.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
#contenue>section{
    background-position: top;
    background-size: cover;
    margin-top: 0;
    margin-left: 0;
    top:0;
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
}
#contenue{
    position: absolute;
    top:0;
    margin: 0;
    width: 100%;
}
 #contenue h1{
    margin: 0;
    font-family: 'Gotham', sans-serif;
    font-size: 15vh;
     text-transform: uppercase;
     z-index: 0;
     mix-blend-mode:normal;
     display: flex;
     flex-direction: row;
     justify-content: center;
     width: 100%;
     align-items: center;
     align-content: space-around;
     color: crimson;
}
#contenue section h2 {
  display: flex;
  justify-content: center;
}
#contenue section h2 span {
-webkit-animation: ltr 10s linear infinite 0s;
animation: ltr 10s linear infinite 0s;
opacity: 0;
position: absolute;
color: white;
}
#contenue section h2 span:nth-child(2){
    -webkit-animation-delay: 2.5s;
animation-delay: 2.5s;
}
#contenue section h2 span:nth-child(3){
    -webkit-animation-delay: 5s;
animation-delay: 5s;
}
#contenue section h2 span:nth-child(4){
    -webkit-animation-delay: 7.5s;
animation-delay: 7.5s;
}

//ANIMATIONS
@-webkit-keyframes stripes {
  100% {
    background-position: 0 -100px;
  }
}

@keyframes stripes {
  100% {
    background-position: 0 -100px;
  }
}
@keyframes ltr {
    0% {
    opacity: 0;
}
  6% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}
10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
29% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
}
80% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}

/////FICHE
.title1{
  margin: 0;
  width: 90vw;
}
.fiche{
  height: 100vh;
  top:0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.featuredImage{
  height: 50vh;
  filter: opacity(90%);
}
.Linkdescription {
  height: 50vh;
  position: absolute;
  z-index: 9;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  mix-blend-mode:lighten;
  transition-duration: 400ms;
}
.title1{
  font-family: gotham;
  font-size: 20vh;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  transition-duration: 800ms;
}

.Linkdescription:hover{
  mix-blend-mode:difference;
  transition-duration: 400ms;
}
.Linkdescription:hover .title1{
  color: black;
}
