html,section,div,span,a,section{
  scroll-behavior: smooth;
}

body{
  background-color: white;
}
.app-wrapper {
  background-color: transparent;
}
.fiche{
  width: 75vw;
  margin: auto;
  height: 90vh;
}
.fiche>div{
    position: relative;
    height: 100%;
    width: 100%;
}

.fiche img {
  height: 75vh;
}

.fimage {
  height: 75vh;
    width: 100%;
    padding-top:6vh;
}
.featuredImage {
  height: 70vh;
}

.fiche:hover .featuredImage{
  filter: blur(5px);
  transition: 800ms;
}

.fiche:hover .title1 {
  margin: 0;
  color: white;
  font-size: 9vh;
  transition: 800ms;
  text-decoration:underline;
}

.Linkdescription, .fimage {
  position: absolute;
		  margin:0px;
		  top: 0px;
		  left: 0px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: white;

}

.Linkdescription{
  z-index: 100;
  height: 100%;
  width: 100%;
}

.title1 {
  background-color: rgba(00,00,00,0.5);
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: white;
  font-size: 10vh;
    text-align: center;
}

//////ABOUT PAGES
#about{
  background-color: darkblue;
  display:flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items:stretch;
}

#about .progress-container{
  display: none;
}
.app-wrapper > ul:nth-child(2) {
  float: left;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  list-style: none;
  background-color: black;
  margin: 0;
}
.app-wrapper > ul:nth-child(2)>li {
  padding: 2px;
}
#about #header{
  filter: invert(100%);
}
#about footer{
  display: none!important;
}
#about section{
  align-content: center;
  width: 60vw;
  text-align: justify;
  margin: auto;
}
