#BlogPost>p{
  width:75vw;
  margin: auto;;
}

blockquote{
  color: grey;
  border-left : solid 4px grey;
  margin-top: 20px;
}
#aPost{
  width: 75vw;
  margin: auto;;
  color: white;
}
#aPostsl{
  color: white;
}
h1{
  width: 75vw;
  margin: auto;
  font-family: gotham;
  text-transform: uppercase;
  height: 20vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
