#comp-progra {
  background: url('../assets/Background-comp (1).png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#comp-graph {
  background: url('../assets/Background-comp (2).png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#comp-photo {
  background: url('../assets/Background-comp (3).png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
