#comp-progra {
  background: url('../assets/Background-comp (1).png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media screen and (max-width:950px){
    background-size: cover;
  }
}

#comp-graph {
  background: url('../assets/Background-comp (2).png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media screen and (max-width:950px){
    background-size: cover;
  }
}

#comp-photo {
  background: url('../assets/Background-comp (3).png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media screen and (max-width:950px){
    background-size: cover;
  }
}
